body {
    font-family: Arial, sans-serif;
    margin: 0;
}
nav {
    background: #333;
    color: white;
    padding: 20px 25px;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.container {
    padding: 0px 35px;
}
